body{
background-color: black;
background-image: url("assets/images/pokerbg.jpg");
color: white;
}
.content{
display:flex;
justify-content: center;
flex-direction: column;
width: 100%;
align-items: center;
}
.cards{
display:flex;
flex-flow: row wrap;
justify-content: center;
}
.debug{
display: none;
flex-flow: row wrap;
}
.resultsTable{
margin-top: 50px;
display: none;
}
table, th, td{
background-color: white;
color: black;
border: 1px solid black;
}
img{
margin: 10px 10px 10px 10px;
}
input{
margin-left: 10px;
}